.main {
  padding-top: 3rem;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.contentMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contentMain h1 {
  padding-top: 10px;
  line-height: 1;
  font-size: 60px;
  color: var(--very-dark-blue);
}

.contentMain article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 10px;
  color: var(--dark-grayish-blue);
  height: 30vh;
}

.contentMain button {
  color: var(--off-white);
  background-color: var(--very-dark-blue);
  width: 15rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}

.contentMain button:hover {
  background-color: var(--soft-red);
}

.newsMain {
  background-color: var(--very-dark-blue);
  padding: 1.5rem;
}

.newsMain h2 {
  color: var(--soft-oragne);
}

.newsMain a {
  color: var(--off-white);
  font-weight: bold;
  cursor: pointer;
}

.newsMain a:hover {
  color: var(--soft-oragne);
}

.newsMain p {
  color: var(--grayish-blue);
}

.newsLinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
}

.newsLinks li {
  border-bottom: 0.5px solid var(--grayish-blue);
  padding-bottom: 1.5rem;
}

.topAccess {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.topAccessItem {
  display: flex;
  gap: 1rem;
}

.topAccessItem div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topNumber {
  font-size: 30px;
  font-weight: bold;
  color: var(--grayish-blue);
}

.topLink {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

.topLink:hover {
  color: var(--soft-red);
}

.topDescription {
  color: var(--dark-grayish-blue);
  font-weight: 500;
}

@media(max-width: 425px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main img{
    display: none;
  }

  .main figure {
    background-image: url('../../public/image-web-3-mobile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
  }

  .contentMain {
    display: flex;
    flex-direction: column;
    
  }

  .contentMain h1 {
    font-size: 30px;
  }

  .topAccess {
    flex-direction: column;
    gap: 1.5rem;
  }

  .topAccessItem img{
    width: 100%;
    object-fit: cover;
  }
}